<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Mon YouTube {{title? ' - ' + title : ''}}</title>
</head>
<body>
  <header class="w-full">
     <!-- todo -->
      <nav class="w-full fixed z-20 top-0 flex justify-around items-center bg-red-500">
        <div class="p-2">
          <h2 class="text-white text-4xl font-bold">Youtube Clone</h2>
        </div>
        <span class="grow"></span>
        <div class="flex justify-between items-center">
          <div class="p-2">
            <a routerLink="" title="Accueil" class="text-white font-medium">Accueil</a>
          </div>

          @if (authService.isConnected()) {
            <div class="p-2">
              <a routerLink="/player" title="Lecteur de vidéos" class="text-white font-medium">Lecteur</a>
            </div>
            <div class="p-2">
              <a routerLink="/search" title="Recherche de vidéos" class="text-white font-medium">Recherche</a>
            </div>
            <div class="p-2">
              <a routerLink="/profile" title="Profil utilisateur" class="text-white font-medium">Mon profil</a>
            </div>
            <div class="p-2">
              <a (click)="logout()" title="Se déconnecter" class="text-white font-medium hover:cursor-pointer">Se déconnecter</a>
            </div>
          } @else {
            <div class="p-2">
              <a routerLink="/register" title="S'inscrire" class="text-white font-medium">S'inscrire</a>      
            </div>
            <div class="p-2">
              <a routerLink="/login" title="Se connecter" class="text-white font-medium">Se connecter</a>      
            </div>
          }
        </div>
      </nav>
  </header>
  <main class="w-full flex">
    <!-- sidebar -->
    <div class="h-full w-40 fixed z-10 top-0 left-0 overflow-x-hidden pt-14 bg-gray-900">
      <div class="p-2">
        <h3 class="text-white text-medium font-bold">Mon compte</h3>
        <!-- todo complete  -->
        @if (userName) {
          <p class="text-white">{{userName}}</p>
        } 
      </div>
    </div>
    <!-- vue -->
    <div class="h-full w-full pl-40 fixed top-0 pt-14 bg-white">
      <div class="p-2 flex flex-col">
        <router-outlet />
      </div>
    </div>
  </main>
  <footer>
    <!-- todo -->
  </footer>
</body>
</html>
